@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-primary {
  background-color: #6552FF;
}

.hover\:bg-primary-dark:hover {
  background-color: #5344D9;
}

input::placeholder {
  color: #9CA3AF;
  font-family: 'Poppins', sans-serif;
}

button:disabled {
  cursor: not-allowed;
}

.hover\:bg-gray-100:hover {
  background-color: #F3F4F6;
}
